.Section {
  width: 320px;
  max-width: 80%;
  height: 100vh;
  min-height: 60%;
  padding: 10px;
  border-radius: 10px;
}

.Header {
  width: 85%;
  padding: 5px 25px;
  background-color: #007bff;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  border-radius: 10px;
  font-size: 1.1em;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(225, 225, 225);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1.1em;
}

button:hover {
  background-color: rgb(237, 237, 237);
}

.delUpdate {
  display: flex;
  gap: 1em;
}

.DeleteButton {
  width: 40%;
  padding: 6px 8px;
  background-color: #dc492f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.DeleteButton:hover {
  background-color: #c94f39;
}
